/*Top of Page*/
.topOfPage {
  background-color: cadetblue;
}

.header {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.option {
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.smallText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}