 
/*Top of Page*/

.header {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  margin: -10px;
  position: relative;
  z-index: 1000;
  padding: 0 5px;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/water-wave-pattern-of-swimming-pool-anddraw.jpg");
  padding: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  display: flex;
  height: 100%;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
  color: #048585;
}

/*
  color: #004d4d;
  -webkit-text-stroke-color
  background-color: #fff;
  align-items: center;
  -ms-flex-align: center;
  height: 60px;
  text-align: center;
  display: -ms-flexbox;
*/

.option {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  -webkit-text-stroke-width: 1px;
  fill: black;
  opacity: 1;
}

.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.graph {
  float: left;
  padding: 20px;
  width: 50%; 
}

.columnLeft {
  background-color: crimson;
  float: left;
  width: 25%;
  padding: 20px;
  height: 1000px;
  opacity: 0.90;
  margin: -10px;
}

.columnRight {
  float: left;
  width: 25%;
  padding: 10px;
  height: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}

.category {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.swimmer {
  color: #276251;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.axis {
  font-size: 25px;
  font-family: fantasy;
  font-weight: 500;
}


.grid text {
  fill: black;
  stroke-width: 0.5px;
  font-size: 12px;
}

.grid line {
  stroke: #16A0CE;
  opacity: 0.4;
}

.grid path {
  stroke-width: 0;
}


.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.view {
  fill: url(#gradient);
  stroke: #000;
}



.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4b8ec9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #255d8f;
  cursor: pointer;
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}
