 
/*Top of Page*/

.header {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  position: relative;
  z-index: 1000;
  padding: 0 5px;
  background-color: #fff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/water-wave-pattern-of-swimming-pool-anddraw.jpg");
  padding: 16px;
  text-align: center;
  font-size: 16px;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: #004d4d;
}

.option {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 24px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #004d4d;
}

.smallText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}

.graph {
  float: left;
  padding: 20px;
  width: 50%; 
}

.columnLeft {
  background-color: crimson;
  float: left;
  width: 25%;
  padding: 10px;
  height: 100%;
}

.columnRight {
  float: left;
  width: 25%;
  padding: 10px;
  height: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}

.category {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.swimmer {
  color: #276251;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}


.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.view {
  fill: url(#gradient);
  stroke: #000;
}